.react-tabs {
    margin-top: 50px;
}
.react-tabs__tab-list {
    border:none !important;
    text-align: center;
    margin-bottom: 75px !important;
}
.react-tabs__tab-panel {
    border: 2px solid #636462;
    padding: 30px;
}
.react-tabs__tab {
    min-width: 150px;
    text-transform: uppercase;
    font-weight: 900;
    color:#636462;
}
.react-tabs__tab--selected {
    background:transparent !important;
    border-color: none !important;
    color: #fff !important;
    border: none !important
}
.react-tabs__tab--selected:before {
    content: "";
    position: absolute;
    left: 50px;
    height: 0px;
    width: 35%;
    border-bottom: 5px solid #fff;
    top: -9px;
}
.react-tabs__tab-panel h2 {
    margin: 30px 0px;
    text-transform: uppercase;
    font-size: 26px;
}